@use 'utilities';
@use 'config';
@import 'variables';

page-header {
  @extend .fcy, .w100, .px-2, .fixed;
  top: 0;
  height: 40px;
  z-index: 3;
  nav {
    display: flex;

    a, 
    .header-navlink {
      text-decoration: none;
      color: inherit;
      white-space: nowrap;
      margin: 0 2%;
    }
  }
  header-space {
    display: none;
    margin-top: 40px;
  }
  drop-down {
    display: none;
    height: 40px;
    width: 40px;
  }
  .header-drop-down {
    display: none;
    transition: 300ms;
  }

  .header-drop-btn {
    display: none;
    outline: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  .header-drop-btn:focus,
  .header-drop-btn::selection,
  .header-drop-btn::-moz-selection {
    outline: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
  }

  .header-drop-btn-bar,
  .header-drop-btn-stair-1,
  .header-drop-btn-stair-2 {
    margin: 5%;
    height: 5%;
    transition-duration: 300ms;
  }

  .header-drop-btn-bar {
    width: 50%;
  }

  .header-drop-btn-stair-1 {
    width: 15%;
  }

  .header-drop-btn-stair-2 {
    width: 35%;
  }

  .drop-down-item {
    color: inherit;
  }
}

page-popup {
  z-index: 7;
  height: 41%;
  width: 70%;
  background: $defaultColor;
  transform: scale(0);
  border-radius: 13px;
  &-container {
    @extend .fixed, .fc;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    --backgroundImage: xx;
    &::before {
      @extend .pseudo, .fixed;
      top: 0;
      z-index: 7;
      height: 100%;
      width: 100%;
      background-color: #00000066;
      background-image: var(--backgroundImage);
    }
  }
}

page-sub-header,
page-tab-bar,
button-row,
search-icon,
page-navbar,
page-footer,
page-carousel,
page-carousel-item,
page-slideshow,
page-board,
page-slide,
search-icon::before,
search-icon::after,
side-bar,
tiny-text,
page-card,
page-heart,
page-triangle,
page-popup,
floating-button,
lineup-item,
nav-item {
  display: block;
  color: inherit;
}

tiny-text {
  font-size: 10pt;
  margin: 2em;
}
button-row {
  margin: 2;
  align-items: center;
  justify-content: center;
}
page-board {
  height: 600px;
}
.input-search-header {
  height: 43px;
}
page-navbar {
  @extend .fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  width: 96%;
  padding: 0 2%;
}
search-icon {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 38px;
  width: 38px;
  --searchIconColor: black;
  cursor: pointer;
}
search-icon::before {
  content: "";
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--searchIconColor);
  height: 80%;
  width: 48%;
  transform: translate(-5%, 16%);
}
search-icon::after {
  content: "";
  transform: rotate(-31deg) translate(200, 20);
  height: 68%;
  background: var(--searchIconColor);
  width: 8%;
  border-radius: 25%;
}

page-footer {
  width: 100%;
  @extend .fcol, .fcy;
}
page-footer > nav {
  width: 85%;
  text-align: center;
  color: inherit;
}
page-footer > copy-right {
  margin: 1.5em 0 1em 0;
  font-size: 10pt;
  text-align: center;
}
.footer-navlink {
  text-decoration: none;
  margin: 0 2%;
  color: inherit;
  white-space: nowrap;
  font-size: 11pt;
}
.login-input-large {
  height: 55px;
}
.login-input-small {
  height: 35px;
}
.login-input-normal {
  height: 45px;
}
.login-button-large,
.login-button-normal,
.login-button-small,
.login-input-large,
.login-input-normal,
.login-input-small {
  border: 1px solid;
  margin: 3% 0;
  border-radius: 5px;
}
.login-input-large,
.login-input-normal,
.login-input-small {
  background-color: transparent;
  padding-left: 3%;
}
.login-button-large,
.login-button-normal,
.login-button-small {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button-normal {
  height: 45px;
}
.login-button-small {
  height: 35px;
}
.login-button-large {
  height: 55px;
}
.logo-image {
  height: 85%;
}
.logo-text {
  font-size: 15pt;
  margin-left: 1%;
  margin-right: 2%;
}

/* Actions */
.button-small,
.button-large,
.button-medium {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  width: fit-content;
  margin: 2%;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 2%;
}
.button-small {
  height: 35px;
  font-size: 12pt;
}
.button-medium {
  height: 45px;
  font-size: 14pt;
}
.button-large {
  height: 55px;
  font-size: 16pt;
}
.pointer {
  cursor: pointer;
}

form > input.center-search {
  height: 45px;
  width: 100%;
  margin: 20px;
  color: inherit;
  border-radius: 10px;
  font-family: inherit;
  padding-left: 3;
}
form > input.center-search:focus {
  outline: 0;
}
