
/* Responsive Design */
@media (max-width: 720px) {
  drop-down {
    display: block;
  }
  button-row {
    flex-wrap: wrap;
  }
  .streamline-react-header-sidebar-icon,
  .streamline-react-header-sidebar {
    display: flex;
  }
  .streamline-react-header-navigation {
    display: none;
  }
  header-space {
    display: block;
    margin-top: 48px;
  }
  page-header {
    height: 48px;
    padding: 0 4%;
    width: 100%;
    nav {
      display: none;
    }
    .header-drop-btn,
    .header-drop-down {
      display: flex;
    }
  }
  page-navbar, page-tab-bar {
    padding: 0 4%;
    width: 100%;
  }
}
