.concord-page-sidebar-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 256px;
    width: 256px;
}
.concord-sidebar-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition-duration: 300ms;
}
.concord-sidebar-button-bar {
    height: 8%;
    width: 75%;
    margin: 7% 0;
    background-color: black;
    border-radius: 7em;
    transition-duration: 400ms;
}
.xsnfuw-staircase1, 
.xsnfuw-staircase2,
.xsnfuw-staircase3 {
    margin-right: auto;
}
.xsnfuw-staircase1 {
    width: 25%;
}
.xsnfuw-staircase2 {
    width: 50%;
}
.xsnfuw-staircase3 {
    width: 75%;
}