.page-header {
    position: fixed;
    display: flex;
    z-index: 10;
    align-items: center;
    top: 0;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    height: 3.5em;
}
.page-header.header-reduce {
    height: 3em;
}
.comp-logo {
    height: 80%;
}
.comp-name {
    font-size: 18pt;
}
.page-header-nav {
    display: flex;
    height: 100%;
    align-items: center;
}
@media (max-width: 768px) {
    .page-header-nav {
        display: none;
    }
}
.page-header-nav-link {
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
}
.page-header-search-bar {
    height: 70%;
    padding-left: 1%;
    border-radius: 0.5em;
    border-style: solid;
}
.page-header-button {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-radius: 0.5em;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: var(--themeColor);
}
@media (max-width: 512px) {
    .page-header-button {
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
}