
/* Responsive Design */
// Huawei Y5 2019
@media (max-width: 720px) {
  drop-down {
    display: block;
  }
  button-row {
    flex-wrap: wrap;
  }
  .streamline-react-header-sidebar-icon,
  .streamline-react-header-sidebar {
    display: flex;
  }
  .streamline-react-header-navigation {
    display: none;
  }
  page-popup {
    width: 70%;
  }
  header-space {
    display: block;
    margin-top: 48px;
  }
  page-sidebar {
    display: none;
  }
  page-header {
    height: 48px;
    padding: 0 4%;
    nav {
      display: none;
    }
    .header-drop-btn,
    .header-drop-down {
      display: flex;
      .drop-down-section-header {
        font-size: 18pt;
        padding: 0 0 2%;
        margin: 0;
      }
      .drop-down-section-item {
        display: block;
        padding: 3% 0;
        margin-left: 0;
      }
      nav {
        display: block;
        padding-top: 2px;
      }
    }
    .header-button {
      height: 36px;
      padding-left: 2%;
      padding-right: 2%;
    }
  }
  page-navbar, page-tab-bar {
    padding: 0 4%;
    width: 100%;
    display: flex;
  }
}

// iPhone X
@media (max-width: 375px) {
  page-header {
    height: 55px;
  }
  page-popup {
    height: 250px;
    width: 310px;
  }
  page-board {
    height: 764px;
  }
  .button-small,
  .button-large,
  .button-medium {
    border-radius: 8px;
  }
}