@use 'config';

/* Responsive Design */
@media (max-width: 720px) {
  drop-down {
    display: block;
  }
  button-row {
    flex-wrap: wrap;
  }
  .streamline-react-header-sidebar-icon,
  .streamline-react-header-sidebar {
    display: flex;
  }
  .streamline-react-header-navigation {
    display: none;
  }
  page-popup {
    width: 70%;
  }
  page-header {
    height: 48px;
    padding: 0 4%;
    width: 100%;
    nav {
      display: none;
    }
    .header-drop-btn,
    .header-drop-down {
      display: flex;
    }
    .header-button {
      height: 36px;
      padding-left: 2%;
      padding-right: 2%;
    }
      header-space {
        display: block;
        margin-top: 48px;
      }
  }
  page-navbar, page-tab-bar {
    padding: 0 4%;
    width: 100%;
  }
}
